#!/bin/bash
# System Update
sudo dnf update -y

# Enable rpm fusion repositories
sudo dnf install -y  https://download1.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm
sudo dnf install -y  https://download1.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm

# Install CachyOS kernel 
sudo dnf copr enable bieszczaders/kernel-cachyos # For GCC built kernels
sudo dnf install -y kernel-cachyos kernel-cachyos-devel-matched # For GCC built kernels
sudo setsebool -P domain_kernel_load_modules on # Enable SELinux policy

# Install packages 
## https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
## Common setup
{{ range .packages.common.dnf -}}
sudo dnf install -y {{ . }}
{{ end -}}

{{ range .packages.common.flatpak }}
flatpak install -y flathub {{ . }}
{{ end -}}

## Desktop setup
{{- if not (eq .chezmoi.hostname "ideapad")}}
{{ range .packages.desktop.dnf -}}
sudo dnf install -y {{ . }}
{{ end -}}

{{ range .packages.desktop.dnf -}}
sudo dnf install -y {{ . }} 
{{ end -}}
{{- end }} 

# Driver installation for specific machines
{{- if eq .chezmoi.hostname "desktop-old" }}
sudo dnf install xorg-x11-drv-nvidia-580xx akmod-nvidia-580xx
{{- end }}

# Setup git
gh auth login
gh auth setup-git
