#!/bin/bash
# System Update
sudo dnf update -y


# Install packages 
## https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/
## Common setup
{{ range .packages.common.dnf -}}
sudo dnf install -y {{ . }}
{{ end -}}

{{ range .packages.common.flatpak }}
flatpak install -y flathub {{ . }}
{{ end -}}

## Desktop setup
{{- if not (eq .chezmoi.hostname "ideapad")}}
{{ range .packages.desktop.dnf -}}
sudo dnf install -y {{ . }}
{{ end -}}

{{ range .packages.desktop.dnf -}}
sudo dnf install -y {{ . }} 
{{ end -}}
{{- end }} 

# Driver installation for specific machines
{{- if eq .chezmoi.hostname "desktop-old" }}
sudo dnf install -y xorg-x11-drv-nvidia-580xx akmod-nvidia-580xx
sudo dnf install -y libva-nvidia-driver.{i686,x86_64}
{{- end }}